# Dir
__pycache__/
*.pyc
common-voice
dataset/mel_num
dataset/mel_spec
dataset/mfcc_num
dataset/mfcc_spec
dataset/mfcc_num_eq
dataset/mel_num_eq
dataset/mfcc_num_eq_3000
dataset/mel_num_eq_3000
data.zip
dataset.zip
dataset/dataset_final.zip
.venv
check-sample.mp3

code/scalers/
code/weights/

dataset_small/mel_spec
dataset_small/mfcc_spec
dataset_small/mfcc_num_eq
dataset_small/mel_num_eq
dataset_small.zip